#entry_form {
  text-align:left;
  vertical-align:center;
  margin: 20%;
}

#entry_table {
  width: 100%;
}

input { 
  width: 100%
}

#entry_form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/*#frm {
  display: inline-block;
  vertical-align: center;
  line-height: 14px;
}



.field { 
  display: flex;
}*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: hsl(0, 99%, 54%);
}



#home_table {
  table-layout: fixed;
  width: 100%;
}

#home_table th {
  background-color: grey;
}

#home_table tr:nth-child(even) {
  background-color: #d0f7db;
}


.d-flex{
  text-align:right;
}  
.login-form {
    width: 340px;
    margin: 50px auto;
 	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
.rounded {
    border-radius:.7rem!important
} 

.footerclass {
width: 100%;
margin-top: auto;
text-align: center; 
}

/* Form css */
form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

form input[type="text"],
form input[type="email"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #337ab7;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

form input[type="submit"]:hover {
  background-color: #23527c;
}
.navbar {
  height: 80px;
  background-color: rgb(64, 199, 240);
}

.navbar .nav-link {
  font-size: 20px;
  color: black;
}

.navbar .btn {  
  font-size: 20px;
  color: black;
}
body{
  background-color: rgb(190, 229, 239);
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}
#p1{
  text-align: justify;
  font-size: 24px;
  
}
.dataframe {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.dataframe th,
.dataframe td {
  border: 1px solid #0a0a0a;
  padding: 8px;
}

.dataframe th {
  background-color: #3959e7;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.table-container {
  margin-left: 250px;
  margin-right: 250px;
}