{% extends "base.html" %}
{% block content %}
<br><br><br><br>
  <form method="POST">
    

    <div class="form-group">
      <label for="num-shots">Number of Shots:</label>
      <input type="number" id="num-shots" name="shots" required>
    </div>

    <div class="form-group">
      <label for="history-days">History of Days:</label>
      <input type="number" id="history-days" name="minhist" required>
    </div>

    <div class="form-group">
      <label for="transaction-type">Transaction Type:</label>
      <select id="transaction-type" name="transaction-type" class="form-control">
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
    </select>
    </div>

    <div class="form-group">
      <label for="profitability-time-horizon">Profitability Time Horizon:</label>
      <input type="text" id="profitability-time-horizon" name="pth" required>
    </div>

    <div class="form-group">
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
    </div>
  </form>
  <br><br>
{% endblock %}
