{% extends "base.html" %}file:///home/comm034/Downloads/6672279_JosnaJosephCoursework/index.py

{% block nav %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Audit Page</a>
</li>
{% endblock %}

{% block content %}
<br><br><br>
<table class="dataframe">
    <thead>
        <tr>
            {% for col in dataframe.columns %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for _, row in dataframe.iterrows() %}
        <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}